.todayPanel {
    font-family: "Inter", sans-serif; 
    position: sticky;
    left: 0;
    top: 0;
    padding-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(230, 230, 250, 0.1);
}

.input {
    display: flex;
    align-items: center;
    width: 85%;
    height: 30px;
    border-radius: 6px;
    margin: 0 auto;
    border-color: transparent;
    background:  hsl(228, 28%, 20%);
    cursor: pointer;
    border: 1px solid rgba(230, 230, 250, 0.1);
}

.input input {
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.input .search_icon {
    margin-left: 10px;
}

.input button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: transparent;
    border: none;
    margin-right: 4px;
}

.current_weather {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_weather_fields {
    width: 225px;
}

.current_weather_field {
    color: #8b97c6;
    font-size: 16px;
    font-size: .875rem;
    font-weight: 700;
    min-height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.current_weather_place {
    font-weight: 400;
    font-size: 10px;
    color:#8b97c6;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    min-width: 200px;
}

.current_weather_field .current_temp {
    font-size: 52px;  
}

.current_weather_field img {
    height: 52px;
    width: 52px;
}

.current_temp_unit {
    font-size: 20px;
}

